# Copiado de la policlinica

<IfModule mod_rewrite.c>
# Activar Rewrite
Options -Multiviews
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^ index.php [QSA,L]
</IfModule>